.connect-card{
	margin-top: 35px;
	position: relative;
	width: 343px;
	background: #0A0231;
	padding-bottom: 23px;
	border-radius: 10px;
	&__img{
		width: 343px;
		height: 30px;
		img{
			max-width: 100%;
		}
	}
	&__menu{
		display: flex;
		align-items: center;
		padding: 9px 16px 12px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	&__menu-text{
		margin-left: 65px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 16px;
		color: #FFFFFF;
	}
	&__menu-textgray{
		margin-left: 8px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 16px;
		color: #959595;
	}
	&__solscan-img{
		width: 78px;
		margin: 0 auto;
		margin-top: 41px;
		img{
			width: 100%;
		}
	}
	&__title{
		margin: 0;
		margin-top: 18px;
		font-family: 'Inter';
		font-weight: 500;
		font-size: 26px;
		text-align: center;
		letter-spacing: 0.01em;
		color: #FFFFFF;
	}
	&__subtitle{
		margin-top: 10px;
		font-family: 'Inter';
		font-weight: 300;
		font-size: 16px;
		text-align: center;
		letter-spacing: -0.015em;
		color: #B09FFF;
	}
	&__line{
		border-top: 1px solid #FFFFFF;
		opacity: 0.2;
		border-collapse: collapse;
		margin: 0px 20px;
		margin-top: 27px;
	}
	&__second-line{
		margin-top: 20px;
	}
	&__advantages{
		margin-top: 27px;
		margin-left: 34px;
	}
	&__advantages-title{
		font-family: 'Inter';
		font-weight: 300;
		font-size: 14px;
		color: #B09FFF;
	}
	&__advantages-list{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__advantages-list-item{
		display: flex;
		margin-top: 18px;
		&:last-child{
			margin-top: 17px;
		}
	}
	&__advantages-list-item-icon{
		width: 18px;
		img{
			width: 100%;
		}
	}	
	&__advantages-list-item-text{
		margin-left: 14px;
		font-family: 'Inter';
		font-weight: 400;
		font-size: 14px;
		color: #FFFFFF;
	}
	&__bottom-text{
		margin-top: 27px;
		margin-bottom: 19px;
		font-family: 'Inter';
		font-weight: 300;
		font-size: 14px;
		text-align: center;
		color: #B09FFF;
	}
	&__buttons{
		margin: 0 20px;
		margin-right: 17px;
		display: flex;
		text-align: center;
		justify-content: space-between;
	}
}